h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

label {
    font-size: 14px;
}

hr {
    margin: 20px 0;
}

p {
    margin-top: 0;
}

input {
    padding: 0;
}

textarea {
    width: 100%;
    resize: none;
}

.title {
    margin-top: 20px;
    font-size: 22px;
    text-align: center;
}

.wrapper {
    margin: 1em auto;
    width: 400px;
}

#blacklist-url {
    width: 74%;
}

#url-submission {
    float: right;
    width: 25%;
}

#blacklisted {
    height: 100px;
}