h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

label {
    font-size: 14px;
}

hr {
    margin: 20px 0;
}

p {
    font-size: 14px;
    margin-top: 0;
}

input {
    padding: 0;
}

select {
    width: 100%;
    padding: 2px;
}

select:focus {
    outline: none;
}

.title {
    margin-top: 20px;
    font-size: 22px;
    text-align: center;
}

.wrapper {
    margin: 1em auto;
    width: 480px;
}

#blacklist-url {
    width: 74%;
}

#url-submission {
    float: right;
    width: 25%;
}

#blacklisted {
    height: 100px;
    margin-bottom: 5px;
}

.success, .failure {
    margin-top: 5px;
    margin-bottom: 0;
}

.success {
    color: green;
}

.failure {
    color: red;
}